<?xml version="1.0" encoding="UTF-8" ?>

<!-- generator="WordPress/4.7.3" created="2019-01-08 21:22" -->
<rss version="2.0"
	xmlns:excerpt="http://wordpress.org/export/1.2/excerpt/"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:wp="http://wordpress.org/export/1.2/"
>

<channel>
	<title>Zendesk</title>
	<link><%= source_url %></link>
	<description></description>
	<pubDate>Tue, 08 Jan 2019 21:22:48 +0000</pubDate>
	<language><%= codes[:language] %></language>
	<wp:wxr_version>1.2</wp:wxr_version>
	<wp:base_site_url><%= source_url %>/</wp:base_site_url>
	<wp:base_blog_url><%= source_url %></wp:base_blog_url>

	<wp:author>
    <wp:author_id>2871</wp:author_id>
    <wp:author_login><![CDATA[stsun]]></wp:author_login>
    <wp:author_email><![CDATA[stsun@zendesk.com]]></wp:author_email>
    <wp:author_display_name><![CDATA[Stephanie Sun]]></wp:author_display_name>
    <wp:author_first_name><![CDATA[Stephanie]]></wp:author_first_name>
    <wp:author_last_name><![CDATA[Sun]]></wp:author_last_name>
  </wp:author>


	<generator>https://wordpress.org/?v=4.7.3</generator>

  <% items_set.each do |item| %>
  <item>
    <title><%= item['item_title'] %></title>
    <link><%= item['item_url'] %>/</link>
    <pubDate><%= item['pubDate'] %></pubDate>
    <dc:creator><![CDATA[stsun]]></dc:creator>
    <guid isPermaLink="true"><%= item['item_url'] %></guid>
    <description><%= item['item_description'] %></description>
    <% case item['post_type']; when 'post', 'webinar' %>
    <content:encoded><![CDATA[<%= item['post_content'] %>]]></content:encoded>
    <% when 'customer_lp' %>
    <content:encoded><![CDATA[<%= item['post_content'] %></div></div>]]></content:encoded>
    <% end %>
    <excerpt:encoded><![CDATA[<%= item['post_excerpt'] %>]]></excerpt:encoded>
    <wp:post_id><%= item['item_id'] %></wp:post_id>
    <wp:post_date><![CDATA[<%= item['item_published_at'] %>]]></wp:post_date>
    <wp:post_date_gmt><![CDATA[<%= item['item_published_at'] %>]]></wp:post_date_gmt>
    <wp:comment_status><![CDATA[closed]]></wp:comment_status>
    <wp:ping_status><![CDATA[closed]]></wp:ping_status>
    <wp:post_name><![CDATA[<%= item['post_name'] %>]]></wp:post_name>
    <wp:status><![CDATA[<%= item['post_status'] %>]]></wp:status>
    <wp:post_parent>0</wp:post_parent>
    <wp:menu_order>0</wp:menu_order>
    <wp:post_type><![CDATA[<%= item['post_type'] %>]]></wp:post_type>
    <wp:post_password><![CDATA[]]></wp:post_password>
    <wp:is_sticky>0</wp:is_sticky>
    <% item['item_tags'].each do |item_tag| %>
    <category domain="<%= item_tag[:domain] %>" nicename="<%= item_tag[:nicename] %>"><![CDATA[<%= item_tag[:name] %>]]></category>
    <% end %>
    <wp:postmeta>
      <wp:meta_key><![CDATA[_yoast_wpseo_linkdex]]></wp:meta_key>
      <wp:meta_value><![CDATA[0]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[_edit_last]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[article-custom-excerpt]]></wp:meta_key>
      <wp:meta_value><![CDATA[<%= item['post_excerpt'] %>]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[thumb-image]]></wp:meta_key>
      <wp:meta_value><![CDATA[<%= item['item_thumbnail_url'] %>]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[_yoast_wpseo_focuskw]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[_yoast_wpseo_title]]></wp:meta_key>
      <wp:meta_value><![CDATA[<%= item['item_seo_title'] %>]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[_yoast_wpseo_metadesc]]></wp:meta_key>
      <wp:meta_value><![CDATA[<%= item['item_seo_description'] %>]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[_yoast_wpseo_meta-robots-noindex]]></wp:meta_key>
      <wp:meta_value><![CDATA[0]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[_yoast_wpseo_meta-robots-nofollow]]></wp:meta_key>
      <wp:meta_value><![CDATA[0]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[_yoast_wpseo_meta-robots-adv]]></wp:meta_key>
      <wp:meta_value><![CDATA[none]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[_yoast_wpseo_sitemap-html-include]]></wp:meta_key>
      <wp:meta_value><![CDATA[-]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[_yoast_wpseo_canonical]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[_yoast_wpseo_redirect]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[_yoast_wpseo_opengraph-description]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[_yoast_wpseo_google-plus-description]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[_encloseme]]></wp:meta_key>
      <wp:meta_value><![CDATA[1]]></wp:meta_value>
    </wp:postmeta>

    <% case item['post_type']; when 'post' %>
    <wp:postmeta>
      <wp:meta_key><![CDATA[featured-caption]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[featured-image]]></wp:meta_key>
      <wp:meta_value><![CDATA[<%= item['item_thumbnail_url'] %>]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[featured-video]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[author-override]]></wp:meta_key>
      <wp:meta_value><![CDATA[<%= item['author_first_name'] %> <%= item['author_last_name'] %>]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[author-override-twitter]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[author-override-title]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[home-sticky-segment]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[home-sticky-order]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[home-sticky-tile]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[home-sticky-img]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[home-sticky-heading]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[home-sticky-heading-color]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[home-sticky-heading-size]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[home-sticky-subheading]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[home-sticky-subheading-color]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[home-sticky-subheading-size]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[home-sticky-buttons]]></wp:meta_key>
      <wp:meta_value><![CDATA[a:1:{i:0;a:3:{s:23:"home-sticky-button-type";s:10:"";s:23:"home-sticky-button-text";s:0:"";s:22:"home-sticky-button-url";s:0:"";]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[home-sticky-css]]></wp:meta_key>
      <wp:meta_value><![CDATA[a:1:{i:0;a:3:{s:23:"home-sticky-button-type";s:10:"";s:23:"home-sticky-button-text";s:0:"";s:22:"home-sticky-button-url";s:0:"";]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[home-sticky-section]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[blog-post-gated-section-header]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[blog-post-gated-enable]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[blog-post-gated-enable-checkbox-fix]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[blog-post-gated-url]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[blog-post-gated-img]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[blog-post-gated-headline]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[blog-post-gated-subheadline]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[blog-post-gated-button-text]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[blog-post-gated-section-spacer1]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[blog-post-main-page-disable]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[blog-post-main-page-disable-checkbox-fix]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <wp:postmeta>
      <wp:meta_key><![CDATA[blog-post-gated-section-spacer2]]></wp:meta_key>
      <wp:meta_value><![CDATA[]]></wp:meta_value>
    </wp:postmeta>
    <% when 'resource' %>
    <wp:postmeta>
			<wp:meta_key><![CDATA[resource-type]]></wp:meta_key>
			<wp:meta_value><![CDATA[<%= item['resource-type'] %>]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[resource-gated]]></wp:meta_key>
			<wp:meta_value><![CDATA[0]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[resource-gated-success-from-form]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[resource-custom-fields]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[sf-cid]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[event-id]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[event-key]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[resource-header-text]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[resource-ebook-external-link]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[resource-thumbnail-url]]></wp:meta_key>
			<wp:meta_value><![CDATA[<%= item['item_thumbnail_url'] %>]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[resource-featured-image-url]]></wp:meta_key>
			<wp:meta_value><![CDATA[<%= item['item_thumbnail_url'] %>]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[resource-use-featured-image-url-on-template]]></wp:meta_key>
			<wp:meta_value><![CDATA[<%= item['item_thumbnail_url'] %>]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[resource-use-featured-image-url-on-template-checkbox-fix]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[resource-download-url]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[resource-infographic-url]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[resource-video-url]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[resource-read-time-override]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[resource-teaser-copy]]></wp:meta_key>
			<wp:meta_value><![CDATA[<%= item['post_content'] %>]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[resource-body-copy]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[resource-longform-sidebar-quote]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
    <% when 'customer_lp' %>
    <wp:postmeta>
			<wp:meta_key><![CDATA[tagline]]></wp:meta_key>
			<wp:meta_value><![CDATA[<%= item['item_description'] %>]]></wp:meta_value>
		</wp:postmeta>
    <wp:postmeta>
			<wp:meta_key><![CDATA[customer-heading]]></wp:meta_key>
			<wp:meta_value><![CDATA[<%= item['item_title'] %>]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[customer-main-bg-image-url]]></wp:meta_key>
			<wp:meta_value><![CDATA[<%= item['item_thumbnail_url'] %>]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[customer-video-url]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[customer-main-logo-image-url]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[customer-stats]]></wp:meta_key>
			<wp:meta_value><![CDATA[a:1:{i:0;a:2:{s:19:"customer-stat-title";s:0:"";s:19:"customer-stat-value";s:0:"";}}]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[customer-stat-button-text]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[customer-stat-button-link]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[customer-highlight]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[customer-highlight-checkbox-fix]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[customer-featured]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[customer-featured-checkbox-fix]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[customer-footer-quote]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[customer-footer-quote-checkbox-fix]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[featured-section]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[tagline-featured]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[quote-featured]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[quote-author]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[quote-author-job]]></wp:meta_key>
			<wp:meta_value><![CDATA[]]></wp:meta_value>
		</wp:postmeta>
    <% when 'webinar' %>
    <wp:postmeta>
			<wp:meta_key><![CDATA[featured-image]]></wp:meta_key>
			<wp:meta_value><![CDATA[http://zen-marketing-pt.s3.amazonaws.com/pt/Geisi_Emilia.png]]></wp:meta_value>
		</wp:postmeta>
    <wp:postmeta>
			<wp:meta_key><![CDATA[sf-cid]]></wp:meta_key>
			<wp:meta_value><![CDATA[70180000000V1vg]]></wp:meta_value>
		</wp:postmeta>
    <wp:postmeta>
			<wp:meta_key><![CDATA[thumb-image]]></wp:meta_key>
			<wp:meta_value><![CDATA[http://zen-marketing-pt.s3.amazonaws.com/pt/Geisi_Emilia.png]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[tagline]]></wp:meta_key>
			<wp:meta_value><![CDATA[http://zen-marketing-pt.s3.amazonaws.com/pt/Geisi_Emilia.png]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[web-thank-you-message]]></wp:meta_key>
			<wp:meta_value><![CDATA[Obrigado por se registar para o webinar "Práticas Vencedoras para E-commerce". ]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[web-dates]]></wp:meta_key>
			<wp:meta_value><![CDATA[12 de Agosto de 2015 das 17h às 18h]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[web-presenter-name]]></wp:meta_key>
			<wp:meta_value><![CDATA[Geisiane Reinhold e Emilia Chagas ]]></wp:meta_value>
		</wp:postmeta>
		<wp:postmeta>
			<wp:meta_key><![CDATA[web-presenter-bio]]></wp:meta_key>
			<wp:meta_value><![CDATA[Geisiane Reinhold entrou na Zendesk em abril de 2014 como Customer Advocate. Hoje, além de oferecer suporte aos clientes da América Latina, ela realiza a implementação dos programas de Customer Success da região.
<br> </br>
Emília Chagas é cofundadora e CEO da Contentools, a mais completa plataforma de Marketing de Conteúdo. É jornalista pela Universidade Federal de Santa Catarina (UFSC) e especialista em criar estratégias de conteúdo que engajam o público e geram oportunidades de negócio.
]]></wp:meta_value>
		</wp:postmeta>
    <% end %>
  </item>
  <% end %>
</channel>
</rss>
